@import './variables';
.add-ui {
  border-radius: 100%;
  background-color: $black;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
}

.dark-mode-active {
  background-color: $white;
  color: $black;
}
.light-mode-active {
  background-color: $black;
  color: $white;
}
