.dark-controller {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
.bg-dark {
  background-color: #fff;
}
.bg-white {
  background-color: black;
}
