footer {
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.center {
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.center-colum {
  align-items: center;
  align-content: center;
}
.space-b {
  justify-content: space-between;
}
