//Colors
$grey: #e0e0e0;
$purple: #a557b1;
$white: #ffffff;
$black: #111111;
$bue: #5e57b1;
$green: #57b181;
$red: #cc5a5a;
$cyan: #57b1b1;
$white-light: #f2f2f2;
$dark-grey: #585858;
$white-grey: #e1e1e1;
$green-active: #56c568;
$info: #56c4cb;
$warning: #c2b222;
